@page
@model IndexModel
@{
    ViewData["Title"] = "Home page | BitPredictor";
}

<div class="text-center">
    <h1 class="display-4">BitPredictor homepage</h1>
    <img src="~/bitcoin-bin.png" style="max-width:50vw;" />
</div>
